.appbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 32px;
  font-size: 32px;
}
.brand {
  font-size: 1em;
}
.settings {
  float: right;
}
.settings > i {
  cursor: pointer;
}
.settings > i:hover {
  transform: scale(1.1);
}
