.settings {
  float: right;
  position: relative;
  padding: 10px;
}
.icon {
  cursor: pointer;
}
.icon:hover {
  transform: scale(1.1);
}

.settings:hover > .dropdown {
  visibility: visible;
}

.dropdown {
  z-index: 10;
  visibility: hidden;
  background: var(--primary);
  max-width: 150px;
  width: 150px;
  color: var(--foreground);
  position: absolute;
  top: 20px;
  right: 1px;
  padding: 10px;
  font-size: 1rem;
  box-shadow: 0px 0px 1px 0px rgba(8, 30, 66, 0.08),
    0px 2px 5px 1px rgba(8, 30, 66, 0.08);
  border-radius: 4px;
}

.action {
  cursor: pointer;
  padding: 5px;
  border-bottom: 1px solid rgba(254, 254, 254, 0.6);
}
